body {
    font-family: Arial, sans-serif;
    margin:0;
    padding:10px; /*defines a padding (space) between the text and the border.*/
    background-color: rgb(205, 135, 44);
}

h1{
    color:red;
    text-align: center;
    padding: 20px;
}

p {
    color: blueviolet;
    border: 2px solid powderblue;
    font-size: 16px;
    line-height: 1.6;
    margin: 20px; /* defines a margin (space) outside the border.*/
}